@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald&display=swap');

.navbar {
  background-color: #FFF1C3;
  
}

.navbar .nav-link {
  color: #26272b;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}
.dropdown a:hover{
  color: rgb(2, 148, 116);
}
/* Change navbar styling on scroll */

.navbar .active .logosupra{
  background-image: url("SUPRA\ SIGN\ -\ LOGO.png");
}
.navbar.active .nav-link {
  color: #26272b;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #26272b;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #FFF1C3;
  }

  .navbar .navbar-brand, .navbar .nav-link {
    color: #555;
  }
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


.text-small {
  font-size: 0.9rem !important;
}
.lead{
  font-family: 'Oswald', sans-serif;
}
body {
  min-height: 110vh;
  background-color: #FFF1C3 !important;
}

section {
  padding: 60px 0;
 /* min-height: 100vh;*/
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-area {
border-bottom: 1px solid #353C46;
}

.contact-content p {
margin: 30px 0 60px;
position: relative;
color:white;
}

.contact-content p::after {
background: #353C46;
bottom: -30px;
content: "";
height: 1px;
left: 50%;
position: absolute;
transform: translate(-50%);
width: 80%;
}

.contact-content h6 {
color: #8b9199;
font-size: 15px;
font-weight: 400;
margin-bottom: 10px;
}

.contact-content span {
color: #353c47;
margin: 0 10px;
}

.contact-social {
margin-top: 30px;
}

.contact-social > ul {
display: inline-flex;
}

.contact-social ul li a {
border: 1px solid #8b9199;
color: #white;
display: inline-block;
height: 40px;
margin: 0 10px;
padding-top: 7px;
transition: all 0.4s ease 0s;
width: 40px;
}

.contact-social ul li a:hover {
border: 1px solid #FAB702;
color: #white;
}

.contact-content img {
max-width: 210px;
}

section, footer {
background: #F29800;
color: #868c96;
}

footer p {
padding: 40px 0;
text-align: center;
color:white;
font-size:30px;
}

footer img {
width: 100%;
}
footer{position:absolute;width:100%;}

.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

.copyright a {
  color: #fff;
  transition: all 0.2s ease 0s;
}

.copyright a:hover {
  color: rgb(2, 148, 116);;
}


.swiper-container {
  width: 100%;
  display: flex;
}

.swiper-slide {
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-button-container {
  background-color: rgba(0, 0, 0, 0.25);
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

body {
  height: 100%;
  width: 100%;
  
}
.logosavoureux{}
.swiper-slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
}
.swiper-slide h2 {
  pointer-events: none;
  opacity: 0;
  color: #ffffff;
  font-size: calc(5vw);
  letter-spacing: -1px;
  transform: translateY(-5%) scale(0.8);
  transition: 1s ease;
  text-transform: uppercase;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
  font-family: 'Montserrat', sans-serif;
}

.swiper-slide-active h2 {
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: 1s ease;
}

.swiper-slide h5 {
  pointer-events: none;
  opacity: 0;
  color: #ffffff;
  font-size: calc(1,5vw);
  letter-spacing: -1px;
  transform: translateY(-5%) scale(0.8);
  transition: 1s ease;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
  font-family: 'Montserrat', sans-serif;
}

.swiper-slide-active h5 {
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: 1s ease;
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg");
}

.entête{
 text-align: center;
  background-size: cover;
  background-color:#4E2200;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color:white;
  padding:20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 50px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}
.grid .btn{
 background-color: rgb(2, 148, 116);
}
.grid .btn:hover{
  background-color: rgb(0, 23, 20);
 }
.grid .text {
  padding: 20px;
}
.grid h3{
  font-family: 'Oswald', sans-serif;
}
.grid h5{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
.grid a{
  font-family: 'Mont', sans-serif;
}


/*dropdown*/
.dropdown li{
  display: inline:block;
}
.drpmenu{
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}
.produitmenu{
  max-width: 420px;
}
.servicesmenu{
  max-width: 200px;
}

.drpbtn{
  color:white;
}
.drpmenu a{
  display: block;
  color: black;
  padding: 20px 20px;
  width:100vw;
}
.dropdown:hover .drpmenu{
  display: block;
}

p{
  color:black;
  font-family: 'Oswald', sans-serif;

}
article{
  border-radius:10px;
background-color: white;
}











.hero {

}

.hero--image {
  width: 100%;
  height: 100%;
  object-fit:cover;
  grid-column: 5 / span 2;
 
}
.heroindexfirst {
 
  margin: 0px auto;
  padding: 1.5em;
 text-align: center;
 background-color:#F29800;
}
.heroindex {
  margin: 0px auto;
  padding: 1.5em;
 text-align: center;
 background-color:#EBF1F4;
}
.heroindex2 {
  display: grid;
  grid-template-columns: repeat(12,minmax(10px,1fr));
  grid-column-gap: 12px;
  margin: 0px auto;
  padding: 1.5em;
 text-align: left;
 
}
.hero--bio1 {
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto;
}

.hero--bio {
  grid-column: 7 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
}
.hero--index1 {
  text-align: left ;
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero--index {
  text-align: left;
  grid-column: 7 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basic-info {
  font-size: 1.5rem;
  line-height: 155%;
  padding-block: 2em;
}

.hero h1{
  font-size: 2rem;
  line-height: 155%;
 
}










/* Responsive */
@media screen and (max-width: 980px) {
  article {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-self: center;
  }
}

@media screen and (max-width: 760px) {
  article,
  article.featured {
    display: block;
    margin: 0 20px;
  }
}

